# Set prefix key to c-f instead of default c-b
unbind C-b
set -g prefix C-a
bind C-a send-prefix
set-option -g default-shell /bin/zsh 

# Enable mouse control (clickable windows, panes, resizable panes)
set -g mouse on

# split panes using | and -
bind \\ split-window -h
bind - split-window -v
unbind '"'
unbind %

# Equally resize all panes
bind | select-layout even-vertical
bind = select-layout even-horizontal

# switch panes using Alt-arrow without prefix
bind -n M-h select-pane -L
bind -n M-l select-pane -R
bind -n M-k select-pane -U
bind -n M-j select-pane -D

# Resize panes
bind -n M-H resize-pane -L 2
bind -n M-L resize-pane -R 2
bind -n M-K resize-pane -U 2
bind -n M-J resize-pane -D 2

# don't rename windows automatically
set-option -g allow-rename off

# Start windows and pane numbering with index 1 instead of 0
set -g base-index 1
setw -g pane-base-index 1

# re-number windows when one is closed
set -g renumber-windows on

# word separators for automatic word selection
setw -g word-separators ' @"=()[]_-:,.'
setw -ag word-separators "'"

